* {
    font-family: 'Itim', sans-serif;
}

.scrollable-section {
    height: 50vh; 
    width: 40vw;
    overflow-y: auto; 
    overflow-x: hidden; 
    border: 1px solid #ccc;
    padding: 10px;
}

.tab-link {
    display: inline-block;
    padding: 7.5px 15px;
    background-color: gray;
    color: white;
    border-radius: 6px;
}

.tab-content {
    display: none !important;
}

.tab-content.active {
    display: block !important;
}

.sub-tab-content {
    display: none !important;
}

.sub-tab-content.active {
    display: block !important;
}

.bghome {
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background: url("images/backgrounds/shop.png") center / cover no-repeat;
    z-index: -1;
}

.bg-explore {
    position: fixed;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: url("images/backgrounds/grasslands.png") center / cover no-repeat;
    z-index: -1;
}

#bg-explore1 {
    left: 0;
}

#bg-explore2 {
    right: 0;
}

#story-bg{
    background-position: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: -1;
}

.bgarchive {
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: url("images/backgrounds/archive.png") center / cover no-repeat;
    z-index: -1;
}

.text-box {
    top: 50%;
    left: 50%;
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 8px;
}

.archivebutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    height: 100px;
    padding: 1rem;
}

.explore-option {
    visibility: hidden;
    pointer-events: none;
}

.explore-option.active {
    visibility: visible;
    pointer-events: auto;
}

.item-details {
    width: 100%;
    height: 50%;
    word-wrap: break-word;
    background: rgb(255, 204, 204);
}

.buy-item {
    width: 200px;
    height: 200px;
    border-color: aqua;
    border-radius: 2px;
    background: black;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sell-item {
    width: 200px;
    height: 200px;
    border-color: aqua;
    border-radius: 2px;
    background: black;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.weapon-img {
    width: 200px;
    height: 200px;
    border-color: aqua;
    border-radius: 2px;
    background: black;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.material-img {
    width: 200px;
    height: 200px;
    border-color: aqua;
    border-radius: 2px;
    background: black;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-img {
    width: 100%;
    height: 50%;
    background: black;
    border: none;
}

.preview-info {
    display: flex;
    flex-direction: column;
    right: 0;
    width: 50%;
    height: 100vh;
    background: #808080;
}

iframe {
    width: 100%;
    height: 100%;
}

#loadingscreen {
    color: black;
    width: 100vw;
    height: 100vh;
}